#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

VERSIONSTR := $(shell parsechangelog | grep Version | sed -e "s/Version: //g" -e "s/\\~.*//g")

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

	unzip -n RobotLoader_20100712
	unzip -n RobotArmExamples_MINI
	unzip -n RACS_v1.0

	#lib
	mkdir -p $(CURDIR)/build-lib-debian
	cp $(CURDIR)/cmake/lib/CMakeLists.txt $(CURDIR)/RobotArm_Examples\ \[MINI\]/RobotArmLib/
	cp $(CURDIR)/cmake/*.cmake			  $(CURDIR)/RobotArm_Examples\ \[MINI\]/RobotArmLib/
	(cd $(CURDIR)/build-lib-debian; cmake -DCMAKE_VERBOSE_MAKEFILE:BOOL=1 -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_TOOLCHAIN_FILE=$(CURDIR)/cmake/arexx_robot_arm_crosscompile.cmake -DVERSIONSTR:STRING=$(VERSIONSTR) $(CURDIR)/RobotArm_Examples\ \[MINI\]/RobotArmLib )
	(cd $(CURDIR)/build-lib-debian; $(MAKE) )

	#racsqt
	mkdir -p $(CURDIR)/build-racsqt-debian
	(cd $(CURDIR)/build-racsqt-debian; cmake -DCMAKE_VERBOSE_MAKEFILE:BOOL=1 -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_BUILD_TYPE:STRING=Release -DVERSIONSTR:STRING=$(VERSIONSTR) $(CURDIR)/racs/qt )
	(cd $(CURDIR)/build-racsqt-debian; $(MAKE) )

	#racsqt-uc
	mkdir -p $(CURDIR)/build-racsqt-uc-debian
	cp $(CURDIR)/cmake/*.cmake $(CURDIR)/racs/uc/
	(cd $(CURDIR)/build-racsqt-uc-debian; cmake -DCMAKE_VERBOSE_MAKEFILE:BOOL=1 -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_TOOLCHAIN_FILE=$(CURDIR)/cmake/arexx_robot_arm_crosscompile.cmake -DCMAKE_MODULE_PATH:PATH=$(CURDIR)/cmake -DArexxRobotArm_INCLUDE_DIR:PATH=$(CURDIR)/RobotArm_Examples\ \[MINI\]/RobotArmLib -DArexxRobotArm_LIBRARY:PATH=$(CURDIR)/build-lib-debian/libarexx_robot_arm.a $(CURDIR)/racs/uc )
	(cd $(CURDIR)/build-racsqt-uc-debian; $(MAKE) )

build-stamp: configure-stamp  
	dh_testdir

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	# $(MAKE) clean
	rm -rf $(CURDIR)/build-debian
	rm -rf $(CURDIR)/build-racsqt-debian
	rm -rf $(CURDIR)/build-lib-debian
	rm -rf $(CURDIR)/debian/tmp
	rm -rf $(CURDIR)/debian/arexx-robot-arm

	rm -rf $(CURDIR)/RobotLoader_20100712/
	rm -rf $(CURDIR)/RobotArm_Examples*
	rm -rf $(CURDIR)/RACS-*
	rm -rf $(CURDIR)/RAC-MINI.hex

	rm -f $(CURDIR)/racs/uc/*.cmake

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs

	# robotloader
	mkdir -p $(CURDIR)/debian/arexx-robot-arm/etc/robotloader
	mkdir -p $(CURDIR)/debian/arexx-robot-arm/usr/bin
	mkdir -p $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader
	mkdir -p $(CURDIR)/debian/arexx-robot-arm/usr/share/applications

	install -m 0755 $(CURDIR)/RobotLoader_20100712/*.jar	-t $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader
	install -m 0755 $(CURDIR)/RobotLoader_20100712/config/*.*	-t $(CURDIR)/debian/arexx-robot-arm/etc/robotloader
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader; ln -fs ../../../etc/robotloader config )
	install -m 0755 $(CURDIR)/debian/*.desktop		-t $(CURDIR)/debian/arexx-robot-arm/usr/share/applications
	install -m 0755 $(CURDIR)/robotloader			-t $(CURDIR)/debian/arexx-robot-arm/usr/bin
	install -m 0755 $(CURDIR)/small_robot_arm.png	-t $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader

	#todo : Still trying to use only libs from the repository, but these two are required and not in the repo
	mkdir -p $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/lib
	install -m 0755 $(CURDIR)/RobotLoader_20100712/lib/comm.jar   -t $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/lib
	install -m 0755 $(CURDIR)/RobotLoader_20100712/lib/jd2xx.jar  -t $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/lib

	#examples
	mkdir -p $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples
	mkdir -p $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RACS
	mkdir -p $(CURDIR)/debian/arexx-robot-arm/usr/share/cmake-2.8/Modules
	install -m 0755 $(CURDIR)/cmake/*.cmake		-t $(CURDIR)/debian/arexx-robot-arm/usr/share/cmake-2.8/Modules
	cp -rf $(CURDIR)/RobotArm_Examples\ \[MINI\]/*	$(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/
	install -m 0755 $(CURDIR)/RAC-MINI.hex		-t $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RACS
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmExamples/Calibrate_RobotArm; ${MAKE} clean; ${MAKE} all)
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmExamples/Example_01_Leds; ${MAKE} clean; ${MAKE} all)
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmExamples/Example_02_Uart_01; ${MAKE} clean; ${MAKE} all)
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmExamples/Example_03_Uart_02; ${MAKE} clean; ${MAKE} all)
#	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmExamples/Example_04_Stopwatches; ${MAKE} clean; ${MAKE} all)
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmExamples/Example_05_Measuring_Current; ${MAKE} clean; ${MAKE} all)
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmExamples/Example_06_Move_01; ${MAKE} clean; ${MAKE} all)
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmExamples/Example_07_Move_02; ${MAKE} clean; ${MAKE} all)
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmExamples/Example_08_Move_03; ${MAKE} clean; ${MAKE} all)
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmExamples/Example_09_Key_Board; ${MAKE} clean; ${MAKE} all)
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmExamples/Example_10_I2C; ${MAKE} clean; ${MAKE} all)
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmExamples/Example_11_Selftest; ${MAKE} clean; ${MAKE} all)
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmExamples/Example_12_Music; ${MAKE} clean; ${MAKE} all)
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmLib/RobotArmBase; ${MAKE} clean; ${MAKE} RobotArmBaseLib.o)
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmLib/RobotArmBase; ${MAKE} clean; ${MAKE} RobotArmUart.o)
	(cd $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/examples/RobotArmLib/RobotArmI2C; ${MAKE} clean; ${MAKE} I2C_Yeti_Display.o)

	#racsqt
	(cd $(CURDIR)/build-racsqt-debian; $(MAKE) install DESTDIR=$(CURDIR)/debian/arexx-robot-arm/)

	#racsqt-uc
	(cd $(CURDIR)/build-racsqt-uc-debian; $(MAKE) install DESTDIR=$(CURDIR)/debian/arexx-robot-arm/)


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install --sourcedir=debian/arexx-robot-arm/
	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
	dh_installcron
#	dh_installinfo
	dh_installman
	dh_lintian
	dh_link
	dh_strip
	dh_compress
#	dh_perl
	dh_makeshlibs
	dh_shlibdeps -a
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
