#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp  
	dh_testdir

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	# $(MAKE) clean
	rm -rf $(CURDIR)/build-debian
	rm -rf $(CURDIR)/debian/tmp
	rm -rf $(CURDIR)/debian/robotloader

	rm -rf $(CURDIR)/RobotLoader_*.zip
	rm -rf $(CURDIR)/RobotArmExamples*.zip
	rm -rf $(CURDIR)/RobotLoader_*
	rm -rf $(CURDIR)/RobotArm_Examples*

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs

	wget http://arexx.com/rp6/downloads/RobotLoader_20100712.zip
	unzip RobotLoader_20100712
	wget http://arexx.com/robot_arm/downloads/RobotArmExamples_MINI.zip
	unzip RobotArmExamples_MINI

	mkdir -p $(CURDIR)/debian/tmp/usr/bin
	mkdir -p $(CURDIR)/debian/tmp/usr/share/robotloader
	mkdir -p $(CURDIR)/debian/tmp/usr/share/robotloader/config
	mkdir -p $(CURDIR)/debian/tmp/usr/share/robotloader/examples
	mkdir -p $(CURDIR)/debian/tmp/usr/share/applications
	install -m 0755 RobotLoader_20100712/*.jar	-t $(CURDIR)/debian/tmp/usr/share/robotloader
	install -m 0755 RobotLoader_20100712/config/*.*	-t $(CURDIR)/debian/tmp/usr/share/robotloader/config
	cp -rf RobotArm_Examples\ \[MINI\]/*	$(CURDIR)/debian/tmp/usr/share/robotloader/examples/
	install -m 0755 debian/*.desktop	-t $(CURDIR)/debian/tmp/usr/share/applications
	(cd $(CURDIR)/debian/tmp/usr/bin; ln -fs ../share/robotloader/RobotLoader_lib.jar robotloader )

	#todo : I don't know why these libs are needed since librxtx-java is installed from the repository
	mkdir -p $(CURDIR)/debian/tmp/usr/share/robotloader/lib
	mkdir -p $(CURDIR)/debian/tmp/usr/share/robotloader/lib/linux_x64
	install -m 0755 RobotLoader_20100712/lib/*.*	       -t $(CURDIR)/debian/tmp/usr/share/robotloader/lib
	install -m 0755 RobotLoader_20100712/lib/linux_x64/*.* -t $(CURDIR)/debian/tmp/usr/share/robotloader/lib/linux_x64

	#todo : remove this kludge as soon as I figure out how to tell the java app to write the logfile to /var/log/robotloader
	touch $(CURDIR)/debian/tmp/usr/share/robotloader/robotloader_logfile.log
	chmod 777 $(CURDIR)/debian/tmp/usr/share/robotloader/robotloader_logfile.log


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install --sourcedir=debian/tmp/
	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
	dh_installcron
#	dh_installinfo
	dh_installman
	dh_lintian
	dh_link
	dh_strip
	dh_compress
#	dh_perl
	dh_makeshlibs
	dh_shlibdeps -a
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
