#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

VERSIONSTR := $(shell parsechangelog | grep Version | sed -e "s/Version: //g" -e "s/\\~.*//g")

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

	unzip -n RobotLoader_20120223 -d RobotLoader_20120223
	unzip -n robot_arm_mini_manual_de
	unzip -n robot_arm_pro_manual_de

	# lib
	mkdir -p $(CURDIR)/build/lib
	(cd $(CURDIR)/build/lib; cmake -DCMAKE_VERBOSE_MAKEFILE:BOOL=1 -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_TOOLCHAIN_FILE:PATH=$(CURDIR)/examples/RobotArmLib/arexx_robot_arm_crosscompile.cmake -DCMAKE_MODULE_PATH:PATH=$(CURDIR)/examples/RobotArmLib $(CURDIR)/examples/RobotArmLib )
	(cd $(CURDIR)/build/lib; $(MAKE) )

	# examples
	mkdir -p $(CURDIR)/build/examples
	(cd $(CURDIR)/build/examples; cmake -DCMAKE_VERBOSE_MAKEFILE:BOOL=1 -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_TOOLCHAIN_FILE:PATH=$(CURDIR)/examples/RobotArmLib/arexx_robot_arm_crosscompile.cmake -DCMAKE_MODULE_PATH:PATH=$(CURDIR)/examples/RobotArmLib -DArexxRobotArm_INCLUDE_DIR:PATH=$(CURDIR)/examples/RobotArmLib -DArexxRobotArm_LIBRARY:PATH=$(CURDIR)/build/lib/libarexx_robot_arm.a $(CURDIR)/examples/RobotArmExamples )
	(cd $(CURDIR)/build/examples; $(MAKE) )

	# racsqt
	mkdir -p $(CURDIR)/build/racsqt
	(cd $(CURDIR)/build/racsqt; cmake -DCMAKE_VERBOSE_MAKEFILE:BOOL=1 -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_BUILD_TYPE:STRING=Release -DVERSIONSTR:STRING=$(VERSIONSTR) $(CURDIR)/racs/qt )
	(cd $(CURDIR)/build/racsqt; $(MAKE) )

	# racsqt-uc
	mkdir -p $(CURDIR)/build/racsuc
	(cd $(CURDIR)/build/racsuc; cmake -DCMAKE_VERBOSE_MAKEFILE:BOOL=1 -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_TOOLCHAIN_FILE:PATH=$(CURDIR)/examples/RobotArmLib/arexx_robot_arm_crosscompile.cmake -DCMAKE_MODULE_PATH:PATH=$(CURDIR)/examples/RobotArmLib -DArexxRobotArm_INCLUDE_DIR:PATH=$(CURDIR)/examples/RobotArmLib -DArexxRobotArm_LIBRARY:PATH=$(CURDIR)/build/lib/libarexx_robot_arm.a $(CURDIR)/racs/uc )
	(cd $(CURDIR)/build/racsuc; $(MAKE) )

	# ros-uc
	mkdir -p $(CURDIR)/build/rosuc
	(cd $(CURDIR)/build/rosuc; cmake -DCMAKE_VERBOSE_MAKEFILE:BOOL=1 -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_BUILD_TYPE:STRING=Release -DCMAKE_TOOLCHAIN_FILE:PATH=$(CURDIR)/examples/RobotArmLib/arexx_robot_arm_crosscompile.cmake -DCMAKE_MODULE_PATH:PATH=$(CURDIR)/examples/RobotArmLib -DArexxRobotArm_INCLUDE_DIR:PATH=$(CURDIR)/examples/RobotArmLib -DArexxRobotArm_LIBRARY:PATH=$(CURDIR)/build/lib/libarexx_robot_arm.a $(CURDIR)/ros/uc_arm )
	(cd $(CURDIR)/build/rosuc; $(MAKE) )

build-stamp: configure-stamp  
	dh_testdir

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	# $(MAKE) clean
	rm -rf $(CURDIR)/build-debian
	rm -rf $(CURDIR)/build
	rm -rf $(CURDIR)/debian/tmp
	rm -rf $(CURDIR)/debian/arexx-robot-arm
	rm -rf $(CURDIR)/RobotLoader_20100712/
	rm -rf $(CURDIR)/RobotLoader_20120223/
	rm -f $(CURDIR)/racs/uc/*.cmake

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs

	# robotloader
	mkdir -p $(CURDIR)/debian/arexx-robot-arm/etc/robotloader
	mkdir -p $(CURDIR)/debian/arexx-robot-arm/usr/bin
	mkdir -p $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader
	mkdir -p $(CURDIR)/debian/arexx-robot-arm/usr/share/applications
	install -m 0755 $(CURDIR)/RobotLoader_20120223/*.jar	-t $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader
	install -m 0755 $(CURDIR)/RobotLoader_20120223/config/*.*	-t $(CURDIR)/debian/arexx-robot-arm/etc/robotloader
	install -m 0755 $(CURDIR)/debian/*.desktop		-t $(CURDIR)/debian/arexx-robot-arm/usr/share/applications
	install -m 0755 $(CURDIR)/robotloader			-t $(CURDIR)/debian/arexx-robot-arm/usr/bin
	install -m 0755 $(CURDIR)/small_robot_arm.png	-t $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader

	# I tried to use only libs from the repository, but these two are required and not in the repo. 
	# Check again with newer robotloader versions
	mkdir -p $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/lib
	install -m 0755 $(CURDIR)/RobotLoader_20120223/lib/comm.jar  -t $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/lib
	install -m 0755 $(CURDIR)/RobotLoader_20120223/lib/jd2xx.jar -t $(CURDIR)/debian/arexx-robot-arm/usr/share/robotloader/lib

	# lib
	(cd $(CURDIR)/build/lib; $(MAKE) install DESTDIR=$(CURDIR)/debian/arexx-robot-arm/)

	# examples
	(cd $(CURDIR)/build/examples; $(MAKE) install DESTDIR=$(CURDIR)/debian/arexx-robot-arm/)

	# doc
	mkdir -p $(CURDIR)/debian/arexx-robot-arm/usr/share/doc/robotloader
	install -m 0755 $(CURDIR)/robot_arm_*.pdf -t $(CURDIR)/debian/arexx-robot-arm/usr/share/doc/robotloader

	# racsqt
	(cd $(CURDIR)/build/racsqt; $(MAKE) install DESTDIR=$(CURDIR)/debian/arexx-robot-arm/)

	# racsqt-uc
	(cd $(CURDIR)/build/racsuc; $(MAKE) install DESTDIR=$(CURDIR)/debian/arexx-robot-arm/)

	# ros-uc
	(cd $(CURDIR)/build/rosuc; $(MAKE) install DESTDIR=$(CURDIR)/debian/arexx-robot-arm/)


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install --sourcedir=debian/arexx-robot-arm/
	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
	dh_installcron
#	dh_installinfo
	dh_installman
	dh_lintian
	dh_link
	dh_strip
	dh_compress
#	dh_perl
	dh_makeshlibs
	dh_shlibdeps -a
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
